In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv('DOHMH_New_York_City_Restaurant_Inspection_Results.csv')
df_cycles=df[df['INSPECTION TYPE'].str.contains('Cycle',regex=False, na=False)]
df_cycles['INSPECTION DATE']=pd.to_datetime(df['INSPECTION DATE'])

C:\Users\kosta\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [2]:
df_cycles.ACTION.value_counts()

Violations were cited in the following area(s).                                                                                        306617
Establishment Closed by DOHMH.  Violations were cited in the following area(s) and those requiring immediate action were addressed.     11498
Establishment re-opened by DOHMH                                                                                                         3264
Establishment re-closed by DOHMH                                                                                                          873
No violations were recorded at the time of this inspection.                                                                               736
Name: ACTION, dtype: int64

In [4]:
CAMIS=df_cycles.CAMIS.unique()
#construct dictionary of individual inspections at establishment
rest_inspection_dates={}
for cam in CAMIS:
    rest_inspection_dates[cam]=df_cycles.loc[df_cycles['CAMIS']==cam]['INSPECTION DATE'].unique()

In [8]:
#turn each into equal length arrays of CAMIS an inspection date   
cam2=[]
date2=[]
for cam in CAMIS:
    for date in rest_inspection_dates[cam]:
        cam2.append(cam)
        date2.append(date)
#turn each into equal length arrays of CAMIS an inspection date        
print(len(cam2))
print(len(date2))

112071
112071

In [10]:
df_inspections=pd.DataFrame()
df_inspections['CAMIS']=cam2
df_inspections['DATE']=pd.to_datetime(date2)
df_inspections=df_inspections.sort_values(['CAMIS','DATE'])

           CAMIS       DATE
75428   30075445 2017-05-18
75430   30075445 2018-05-11
75431   30075445 2019-05-16
75429   30075445 2019-06-11
90427   30112340 2016-04-12
90420   30112340 2016-04-30
90425   30112340 2016-10-03
90421   30112340 2016-10-27
90426   30112340 2017-06-26
90423   30112340 2017-10-06
90424   30112340 2018-03-13
90422   30112340 2019-03-04
71801   30191841 2017-07-27
71798   30191841 2017-12-14
71799   30191841 2018-05-16
71800   30191841 2019-06-06
110465  40356018 2016-05-16
110467  40356018 2017-07-20
110466  40356018 2018-10-30
110143  40356151 2016-05-14
110142  40356151 2017-08-19
110141  40356151 2018-10-06
48005   40356483 2017-06-03
48004   40356483 2018-05-10
48003   40356483 2019-05-03
21216   40356731 2017-06-22
21215   40356731 2018-05-16
21214   40356731 2019-05-31
111466  40357217 2017-06-14
111465  40357217 2018-05-31
...          ...        ...
106748  50088024 2019-07-17
96037   50088087 2019-05-20
96038   50088087 2019-06-10
96041   50088210 2019-07-03
102649  50088233 2019-07-30
61483   50088242 2019-06-24
61484   50088242 2019-07-15
105077  50088301 2019-04-18
105813  50088388 2019-07-02
95780   50088568 2019-06-21
105328  50088581 2019-07-30
102131  50088598 2019-06-27
106600  50088652 2019-07-29
110951  50088663 2019-07-03
108834  50088869 2019-07-25
107786  50088883 2019-06-20
105605  50089117 2019-07-09
101987  50089476 2019-03-02
74491   50089663 2019-07-17
48390   50089669 2019-07-11
48391   50089669 2019-07-12
48389   50089669 2019-08-01
112048  50089877 2019-07-17
20282   50089950 2019-07-12
20281   50089950 2019-07-30
111193  50090049 2019-07-22
111778  50090297 2019-07-30
98278   50090427 2019-07-24
85804   50090463 2019-07-26
111905  50091419 2019-07-30

[112071 rows x 2 columns]

In [ ]:
#add columns to inspection data frame for inspection type, violations, score,

In [ ]:
for c, d in zip(df_inspections['CAMIS'],df_inspections['DATE']):