In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df_twice_merged=pd.read_csv('twice_merged.csv')
df_twice_merged.head()

,Unnamed: 0,CAMIS,DATE,SCORE,INSPECTION TYPE,02A,02B,02C,02D,02E,...,ACTION,CRITICAL FLAG,GRADE,prev_score,prev_critical,DBA,CUISINE DESCRIPTION,is_chain,Community Board,BORO
0,0,30075445,2018-05-11,5.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,Violations were cited in the following area(s).,0,A,7.0,1,MORRIS PARK BAKE SHOP,Bakery,0,211.0,Bronx
1,1,30075445,2019-05-16,14.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,Violations were cited in the following area(s).,1,B,5.0,0,MORRIS PARK BAKE SHOP,Bakery,0,211.0,Bronx
2,2,30112340,2017-06-26,7.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,Violations were cited in the following area(s).,1,A,48.0,3,WENDY'S,Hamburgers,1,309.0,Brooklyn
3,3,30112340,2018-03-13,12.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,Violations were cited in the following area(s).,1,A,7.0,1,WENDY'S,Hamburgers,1,309.0,Brooklyn
4,4,30112340,2019-03-04,13.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,Violations were cited in the following area(s).,1,A,12.0,1,WENDY'S,Hamburgers,1,309.0,Brooklyn

In [12]:
df_manhattan=df_twice_merged.loc[df_twice_merged['BORO']=='Manhattan'][['SCORE','prev_score','prev_critical','is_chain','CUISINE DESCRIPTION','Community Board']].dropna()
df['Community Board']=df['Community Board'].astype(int).astype(str)
df_manhattan.head()

,SCORE,prev_score,prev_critical,is_chain,CUISINE DESCRIPTION,Community Board
5,12.0,13.0,2,0,Irish,104.0
6,8.0,12.0,1,0,Irish,104.0
15,7.0,11.0,1,0,American,108.0
29,22.0,12.0,1,0,American,107.0
30,21.0,22.0,3,0,American,107.0

,SCORE,prev_score,prev_critical,is_chain,CUISINE DESCRIPTION,Community Board
5,12.0,13.0,2,0,Irish,104
6,8.0,12.0,1,0,Irish,104
15,7.0,11.0,1,0,American,108
29,22.0,12.0,1,0,American,107
30,21.0,22.0,3,0,American,107
31,9.0,21.0,2,0,American,107
32,10.0,30.0,3,0,American,102
33,38.0,10.0,1,0,American,102
34,10.0,38.0,2,0,American,102
37,10.0,33.0,4,0,Sandwiches/Salads/Mixed Buffet,101
38,27.0,10.0,1,0,Sandwiches/Salads/Mixed Buffet,101
39,46.0,27.0,3,0,Sandwiches/Salads/Mixed Buffet,101
40,13.0,46.0,4,0,Sandwiches/Salads/Mixed Buffet,101
46,11.0,17.0,2,1,American,104
47,7.0,11.0,1,1,American,104
48,7.0,9.0,1,0,Sandwiches/Salads/Mixed Buffet,106
55,32.0,20.0,3,0,Continental,108
56,22.0,32.0,3,0,Continental,108
57,20.0,9.0,1,0,American,105
58,8.0,20.0,2,0,American,105
63,13.0,23.0,3,1,Pizza,107
64,13.0,13.0,2,1,Pizza,107
67,24.0,16.0,2,0,Soul Food,107
68,59.0,24.0,3,0,Soul Food,107
69,11.0,59.0,5,0,Soul Food,107
85,12.0,16.0,1,1,American,108
86,13.0,12.0,2,1,American,108
87,13.0,13.0,1,1,American,108
88,17.0,13.0,1,0,American,105
89,10.0,17.0,2,0,American,105
...,...,...,...,...,...,...
43797,17.0,26.0,4,0,Café/Coffee/Tea,102
43799,8.0,5.0,0,0,Thai,105
43802,5.0,9.0,1,1,Middle Eastern,105
43804,8.0,55.0,4,0,Mexican,112
43806,13.0,20.0,3,0,Asian,101
43808,45.0,31.0,3,0,Mediterranean,106
43810,31.0,50.0,6,0,American,105
43811,22.0,21.0,2,1,American,110
43814,9.0,2.0,0,0,Indian,105
43815,28.0,12.0,2,0,Mexican,109
43816,22.0,12.0,2,0,American,105
43817,19.0,9.0,1,0,Japanese,105
43818,7.0,12.0,2,1,Australian,105
43823,25.0,33.0,1,0,Chinese,101
43827,66.0,24.0,4,0,American,104
43829,4.0,33.0,1,0,American,105
43840,9.0,18.0,2,1,Korean,104
43850,39.0,18.0,2,0,Café/Coffee/Tea,102
43851,22.0,43.0,3,0,Café/Coffee/Tea,104
43855,8.0,7.0,1,0,Delicatessen,105
43859,21.0,10.0,2,1,Sandwiches/Salads/Mixed Buffet,104
43862,9.0,28.0,3,0,Pizza,106
43863,7.0,2.0,0,0,"Latin (Cuban, Dominican, Puerto Rican, South &...",112
43865,47.0,12.0,1,0,Japanese,107
43868,0.0,17.0,2,1,Sandwiches,105
43869,13.0,20.0,2,0,Chinese,103
43870,8.0,29.0,3,1,"Juice, Smoothies, Fruit Salads",102
43874,2.0,22.0,2,0,Spanish,102
43883,13.0,73.0,7,0,Mediterranean,101
43892,5.0,9.0,1,0,Mediterranean,105