In [24]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [25]:
df_init=pd.read_csv('initial.csv')
df_init.head()

,Unnamed: 0,CAMIS,DATE,SCORE,INSPECTION TYPE,02A,02B,02C,02D,02E,...,10D,10E,10F,10G,10H,10I,10J,ACTION,CRITICAL FLAG,GRADE
0,93912,30075445,2017-05-18,7.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Violations were cited in the following area(s).,1,A
1,93911,30075445,2018-05-11,5.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Violations were cited in the following area(s).,0,A
2,93914,30075445,2019-05-16,14.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,Violations were cited in the following area(s).,1,B
3,93374,30112340,2016-04-12,0.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No violations were recorded at the time of thi...,0,A
4,93367,30112340,2016-10-03,48.0,Cycle Inspection / Initial Inspection,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Violations were cited in the following area(s).,3,C

In [26]:
df_init.drop(columns='Unnamed: 0',inplace=True)

In [27]:
df_rests=pd.read_csv('rests.csv')
df_rests.rename(columns={'Unnamed: 0':'CAMIS'},inplace=True)
df_rests.head()

,CAMIS,DBA,CUISINE DESCRIPTION,BORO,BUILDING,STREET,ZIPCODE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA,is_chain
0,30075445,MORRIS PARK BAKE SHOP,Bakery,Bronx,1007,MORRIS PARK AVE,10462.0,40.848231,-73.855972,211.0,13.0,25200.0,2045445.0,2.041270e+09,BX37,0
1,30112340,WENDY'S,Hamburgers,Brooklyn,469,FLATBUSH AVENUE,11225.0,40.662652,-73.962081,309.0,40.0,32700.0,3029737.0,3.011970e+09,BK60,1
2,30191841,DJ REYNOLDS PUB AND RESTAURANT,Irish,Manhattan,351,WEST 57 STREET,10019.0,40.767326,-73.984310,104.0,3.0,13900.0,1026048.0,1.010480e+09,MN15,0
3,40356018,RIVIERA CATERERS,American,Brooklyn,2780,STILLWELL AVENUE,11224.0,40.579920,-73.982090,313.0,47.0,34800.0,3347399.0,3.069970e+09,BK21,0
4,40356151,BRUNOS ON THE BOULEVARD,American,Queens,8825,ASTORIA BOULEVARD,11369.0,40.763971,-73.880973,403.0,22.0,32900.0,4024132.0,4.011000e+09,QN28,0

In [28]:
df_small_init=df_init[['CAMIS','GRADE']]
df_small_rests=df_rests[['CAMIS','CUISINE DESCRIPTION','Community Board']]

In [29]:
df_matrix=df_small_init.merge(df_small_rests,on='CAMIS',)
df_matrix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74262 entries, 0 to 74261
Data columns (total 4 columns):
CAMIS                  74262 non-null int64
GRADE                  74262 non-null object
CUISINE DESCRIPTION    74262 non-null object
Community Board        72836 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.8+ MB

In [30]:
df_matrix.head()

      CAMIS GRADE CUISINE DESCRIPTION  Community Board
0  30075445     A              Bakery            211.0
1  30075445     A              Bakery            211.0
2  30075445     B              Bakery            211.0
3  30112340     A          Hamburgers            309.0
4  30112340     C          Hamburgers            309.0

In [31]:
df_matrix.dropna(inplace=True)
df_matrix['Community Board']=df_matrix['Community Board'].astype(int).astype(str)
df_matrix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72836 entries, 0 to 74261
Data columns (total 4 columns):
CAMIS                  72836 non-null int64
GRADE                  72836 non-null object
CUISINE DESCRIPTION    72836 non-null object
Community Board        72836 non-null object
dtypes: int64(1), object(3)
memory usage: 2.8+ MB

In [32]:
df_matrix_sparse=pd.get_dummies(df_matrix)
df_matrix_sparse.head()

,CAMIS,GRADE_A,GRADE_B,GRADE_C,CUISINE DESCRIPTION_Afghan,CUISINE DESCRIPTION_African,CUISINE DESCRIPTION_American,CUISINE DESCRIPTION_Armenian,CUISINE DESCRIPTION_Asian,CUISINE DESCRIPTION_Australian,...,Community Board_413,Community Board_414,Community Board_480,Community Board_481,Community Board_482,Community Board_483,Community Board_501,Community Board_502,Community Board_503,Community Board_595
0,30075445,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,30075445,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,30075445,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,30112340,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30112340,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
X=df_matrix_sparse.drop(columns=['CAMIS','GRADE_A','GRADE_B','GRADE_C'])
y=df_matrix_sparse['GRADE_A']

In [41]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test=train_test_split(X,y,test_size=0.2)

In [49]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import AdaBoostClassifier
param_grid_ada={'n_estimators': [30, 50, 70,100,150],
                'learning_rate': [1.0, 0.5, 0.1]}
grid_ada=GridSearchCV(estimator=AdaBoostClassifier(),
                     param_grid=param_grid_ada,
                     cv=3,
                     verbose=2)
grid_ada.fit(X_train,y_train)

Fitting 3 folds for each of 15 candidates, totalling 45 fits
[CV] learning_rate=1.0, n_estimators=30 ..............................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] ............... learning_rate=1.0, n_estimators=30, total=   1.8s
[CV] learning_rate=1.0, n_estimators=30 ..............................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.1s remaining:    0.0s

[CV] ............... learning_rate=1.0, n_estimators=30, total=   1.7s
[CV] learning_rate=1.0, n_estimators=30 ..............................
[CV] ............... learning_rate=1.0, n_estimators=30, total=   1.8s
[CV] learning_rate=1.0, n_estimators=50 ..............................
[CV] ............... learning_rate=1.0, n_estimators=50, total=   2.9s
[CV] learning_rate=1.0, n_estimators=50 ..............................
[CV] ............... learning_rate=1.0, n_estimators=50, total=   3.0s
[CV] learning_rate=1.0, n_estimators=50 ..............................
[CV] ............... learning_rate=1.0, n_estimators=50, total=   3.0s
[CV] learning_rate=1.0, n_estimators=70 ..............................
[CV] ............... learning_rate=1.0, n_estimators=70, total=   4.1s
[CV] learning_rate=1.0, n_estimators=70 ..............................
[CV] ............... learning_rate=1.0, n_estimators=70, total=   4.2s
[CV] learning_rate=1.0, n_estimators=70 ..............................
[CV] ............... learning_rate=1.0, n_estimators=70, total=   4.2s
[CV] learning_rate=1.0, n_estimators=100 .............................
[CV] .............. learning_rate=1.0, n_estimators=100, total=   6.2s
[CV] learning_rate=1.0, n_estimators=100 .............................
[CV] .............. learning_rate=1.0, n_estimators=100, total=   7.7s
[CV] learning_rate=1.0, n_estimators=100 .............................
[CV] .............. learning_rate=1.0, n_estimators=100, total=   7.5s
[CV] learning_rate=1.0, n_estimators=150 .............................
[CV] .............. learning_rate=1.0, n_estimators=150, total=   9.4s
[CV] learning_rate=1.0, n_estimators=150 .............................
[CV] .............. learning_rate=1.0, n_estimators=150, total=  10.2s
[CV] learning_rate=1.0, n_estimators=150 .............................
[CV] .............. learning_rate=1.0, n_estimators=150, total=   9.5s
[CV] learning_rate=0.5, n_estimators=30 ..............................
[CV] ............... learning_rate=0.5, n_estimators=30, total=   2.0s
[CV] learning_rate=0.5, n_estimators=30 ..............................
[CV] ............... learning_rate=0.5, n_estimators=30, total=   1.9s
[CV] learning_rate=0.5, n_estimators=30 ..............................
[CV] ............... learning_rate=0.5, n_estimators=30, total=   1.9s
[CV] learning_rate=0.5, n_estimators=50 ..............................
[CV] ............... learning_rate=0.5, n_estimators=50, total=   3.1s
[CV] learning_rate=0.5, n_estimators=50 ..............................
[CV] ............... learning_rate=0.5, n_estimators=50, total=   3.1s
[CV] learning_rate=0.5, n_estimators=50 ..............................
[CV] ............... learning_rate=0.5, n_estimators=50, total=   3.2s
[CV] learning_rate=0.5, n_estimators=70 ..............................
[CV] ............... learning_rate=0.5, n_estimators=70, total=   6.1s
[CV] learning_rate=0.5, n_estimators=70 ..............................
[CV] ............... learning_rate=0.5, n_estimators=70, total=   5.7s
[CV] learning_rate=0.5, n_estimators=70 ..............................
[CV] ............... learning_rate=0.5, n_estimators=70, total=   4.5s
[CV] learning_rate=0.5, n_estimators=100 .............................
[CV] .............. learning_rate=0.5, n_estimators=100, total=   6.7s
[CV] learning_rate=0.5, n_estimators=100 .............................
[CV] .............. learning_rate=0.5, n_estimators=100, total=   6.2s
[CV] learning_rate=0.5, n_estimators=100 .............................
[CV] .............. learning_rate=0.5, n_estimators=100, total=   6.8s
[CV] learning_rate=0.5, n_estimators=150 .............................
[CV] .............. learning_rate=0.5, n_estimators=150, total=  11.1s
[CV] learning_rate=0.5, n_estimators=150 .............................
[CV] .............. learning_rate=0.5, n_estimators=150, total=   9.6s
[CV] learning_rate=0.5, n_estimators=150 .............................
[CV] .............. learning_rate=0.5, n_estimators=150, total=   9.6s
[CV] learning_rate=0.1, n_estimators=30 ..............................
[CV] ............... learning_rate=0.1, n_estimators=30, total=   1.9s
[CV] learning_rate=0.1, n_estimators=30 ..............................
[CV] ............... learning_rate=0.1, n_estimators=30, total=   1.8s
[CV] learning_rate=0.1, n_estimators=30 ..............................
[CV] ............... learning_rate=0.1, n_estimators=30, total=   1.8s
[CV] learning_rate=0.1, n_estimators=50 ..............................
[CV] ............... learning_rate=0.1, n_estimators=50, total=   3.0s
[CV] learning_rate=0.1, n_estimators=50 ..............................
[CV] ............... learning_rate=0.1, n_estimators=50, total=   3.0s
[CV] learning_rate=0.1, n_estimators=50 ..............................
[CV] ............... learning_rate=0.1, n_estimators=50, total=   3.2s
[CV] learning_rate=0.1, n_estimators=70 ..............................
[CV] ............... learning_rate=0.1, n_estimators=70, total=   4.3s
[CV] learning_rate=0.1, n_estimators=70 ..............................
[CV] ............... learning_rate=0.1, n_estimators=70, total=   4.3s
[CV] learning_rate=0.1, n_estimators=70 ..............................
[CV] ............... learning_rate=0.1, n_estimators=70, total=   5.0s
[CV] learning_rate=0.1, n_estimators=100 .............................
[CV] .............. learning_rate=0.1, n_estimators=100, total=   6.1s
[CV] learning_rate=0.1, n_estimators=100 .............................
[CV] .............. learning_rate=0.1, n_estimators=100, total=   6.3s
[CV] learning_rate=0.1, n_estimators=100 .............................
[CV] .............. learning_rate=0.1, n_estimators=100, total=   8.6s
[CV] learning_rate=0.1, n_estimators=150 .............................
[CV] .............. learning_rate=0.1, n_estimators=150, total=  10.4s
[CV] learning_rate=0.1, n_estimators=150 .............................
[CV] .............. learning_rate=0.1, n_estimators=150, total=   9.1s
[CV] learning_rate=0.1, n_estimators=150 .............................
[CV] .............. learning_rate=0.1, n_estimators=150, total=   9.5s

[Parallel(n_jobs=1)]: Done  45 out of  45 | elapsed:  4.7min finished

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'n_estimators': [30, 50, 70, 100, 150], 'learning_rate': [1.0, 0.5, 0.1]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=2)

In [50]:
grid_ada.best_params_

{'learning_rate': 1.0, 'n_estimators': 70}

In [51]:
grid_ada.best_score_

0.6080352852337475

In [52]:
y_pred = grid_ada.best_estimator_.predict(X_test)
from sklearn.metrics import confusion_matrix, classification_report

print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[ 980 4790]
 [ 867 7931]]
              precision    recall  f1-score   support

           0       0.53      0.17      0.26      5770
           1       0.62      0.90      0.74      8798

   micro avg       0.61      0.61      0.61     14568
   macro avg       0.58      0.54      0.50     14568
weighted avg       0.59      0.61      0.55     14568

In [48]:
df_matrix_sparse['GRADE_A'].value_counts()

1    43803
0    29033
Name: GRADE_A, dtype: int64