In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv('DOHMH_New_York_City_Restaurant_Inspection_Results.csv')
df_cycles=df[df['INSPECTION TYPE'].str.contains('Cycle',regex=False, na=False)]
df_cycles['INSPECTION DATE']=pd.to_datetime(df['INSPECTION DATE'])

C:\Users\kosta\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [3]:
df_cycles.ACTION.value_counts()

Violations were cited in the following area(s).                                                                                        306617
Establishment Closed by DOHMH.  Violations were cited in the following area(s) and those requiring immediate action were addressed.     11498
Establishment re-opened by DOHMH                                                                                                         3264
Establishment re-closed by DOHMH                                                                                                          873
No violations were recorded at the time of this inspection.                                                                               736
Name: ACTION, dtype: int64

In [4]:
CAMIS=df_cycles.CAMIS.unique()
#construct dictionary of individual inspections at establishment
rest_inspection_dates={}
for cam in CAMIS:
    rest_inspection_dates[cam]=df_cycles.loc[df_cycles['CAMIS']==cam]['INSPECTION DATE'].unique()

In [5]:
#turn each into equal length arrays of CAMIS an inspection date   
cam2=[]
date2=[]
for cam in CAMIS:
    for date in rest_inspection_dates[cam]:
        cam2.append(cam)
        date2.append(date)
#turn each into equal length arrays of CAMIS an inspection date        
print(len(cam2))
print(len(date2))

112071
112071

In [6]:
df_inspections=pd.DataFrame()
df_inspections['CAMIS']=cam2
df_inspections['DATE']=pd.to_datetime(date2)
df_inspections=df_inspections.sort_values(['CAMIS','DATE'])

In [7]:
#add columns to inspection data frame for inspection type, violations, score,

In [12]:
score=[]
for c, d in zip(df_inspections['CAMIS'],df_inspections['DATE']):
    score.append(df_cycles.loc[df_cycles['CAMIS']==c].loc[df_cycles['INSPECTION DATE']==d]['SCORE'].iloc[0])

In [14]:
df_inspections['SCORE']=score
df_inspections.head()

          CAMIS       DATE  SCORE
75428  30075445 2017-05-18    7.0
75430  30075445 2018-05-11    5.0
75431  30075445 2019-05-16   14.0
75429  30075445 2019-06-11    6.0
90427  30112340 2016-04-12    0.0

In [23]:
print(df_cycles.loc[df_cycles['CAMIS']==30112340].loc[df_cycles['INSPECTION DATE']=='2016-04-12'])

           CAMIS      DBA      BORO BUILDING           STREET  ZIPCODE  \
303534  30112340  WENDY'S  Brooklyn      469  FLATBUSH AVENUE  11225.0

             PHONE CUISINE DESCRIPTION INSPECTION DATE  \
303534  7182875005          Hamburgers      2016-04-12

                                                   ACTION  ... RECORD DATE  \
303534  No violations were recorded at the time of thi...  ...  08/05/2019

                              INSPECTION TYPE   Latitude  Longitude  \
303534  Cycle Inspection / Initial Inspection  40.662652 -73.962081

       Community Board Council District Census Tract        BIN           BBL  \
303534           309.0             40.0      32700.0  3029737.0  3.011970e+09

         NTA
303534  BK60

[1 rows x 26 columns]

In [20]:
print(df_cycles.head())

      CAMIS                  DBA       BORO BUILDING            STREET  \
0  40385767  ACADEMY RESTAURAUNT   Brooklyn       69  LAFAYETTE AVENUE
1  50013059        COCINA TALLER  Manhattan      416        W 203RD ST
2  41284555        JIMMY'S DINER   Brooklyn      577      UNION AVENUE
3  41605870     CAKOR RESTAURANT      Bronx      632  EAST  186 STREET
4  41345907     MEE THAI CUISINE   Brooklyn      180          5 AVENUE

   ZIPCODE       PHONE                                CUISINE DESCRIPTION  \
0  11217.0  7182379326                                           American
1  10034.0  9174594125  Latin (Cuban, Dominican, Puerto Rican, South &...
2  11211.0  7182187174                                           American
3  10458.0  7187332300                                   Eastern European
4  11217.0  7182308280                                               Thai

  INSPECTION DATE                                           ACTION  ...  \
0      2016-10-12  Violations were cited in the following area(s).  ...
1      2016-06-17  Violations were cited in the following area(s).  ...
2      2019-01-17  Violations were cited in the following area(s).  ...
3      2018-08-22  Violations were cited in the following area(s).  ...
4      2019-06-13  Violations were cited in the following area(s).  ...

  RECORD DATE                        INSPECTION TYPE   Latitude  Longitude  \
0  08/05/2019  Cycle Inspection / Initial Inspection  40.687078 -73.975683
1  08/05/2019       Cycle Inspection / Re-inspection  40.861339 -73.919420
2  08/05/2019  Cycle Inspection / Initial Inspection  40.717670 -73.952227
3  08/05/2019  Cycle Inspection / Initial Inspection  40.854126 -73.886949
4  08/05/2019       Cycle Inspection / Re-inspection  40.677319 -73.979854

  Community Board Council District Census Tract        BIN           BBL   NTA
0           302.0             35.0       3300.0  3058766.0  3.020980e+09  BK68
1           112.0             10.0      29900.0  1064493.0  1.021990e+09  MN01
2           301.0             33.0      51900.0  3061639.0  3.023000e+09  BK73
3           206.0             15.0      39100.0  2012153.0  2.030740e+09  BX06
4           306.0             39.0      13100.0  3019564.0  3.009490e+09  BK37

[5 rows x 26 columns]