In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv('DOHMH_New_York_City_Restaurant_Inspection_Results.csv')

there are many types of inspection performed bby the Department of Health and Mental Hygene but we will concern ourselvs only with the cycle inspections performed for food saftey and grade assignment

In [3]:
df_cycles=df[df['INSPECTION TYPE'].str.contains('Cycle',regex=False, na=False)]

In [5]:
df_cycles['INSPECTION DATE']=pd.to_datetime(df['INSPECTION DATE'])

C:\Users\kosta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
df_cycles.columns

Index(['CAMIS', 'DBA', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE', 'PHONE',
       'CUISINE DESCRIPTION', 'INSPECTION DATE', 'ACTION', 'VIOLATION CODE',
       'VIOLATION DESCRIPTION', 'CRITICAL FLAG', 'SCORE', 'GRADE',
       'GRADE DATE', 'RECORD DATE', 'INSPECTION TYPE', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL',
       'NTA'],
      dtype='object')

In [23]:
CAMIS=sorted(df_cycles.CAMIS.unique())
rest_dict={}
def get_inf(column):
    #returns data from first cell that matches each CAMIS for the column specified
    first_entries=[]
    for cam in CAMIS:
        first_entries.append(df_cycles.loc[df_cycles['CAMIS']==cam][column].iloc[0])
    return first_entries
#collect columns that pertain to individual restaurant information
rest_info_cols=['DBA','CUISINE DESCRIPTION', 'BORO', 'BUILDING', 'STREET', 'ZIPCODE','Latitude', 'Longitude','Community Board', 'Council District', 'Census Tract', 'BIN', 'BBL','NTA']
for col in rest_info_cols:
    rest_dict[col]=get_inf(col)

In [24]:
#build dataframe for individual restaurant information with CAMIS as index
df_rests=pd.DataFrame.from_dict(rest_dict)
df_rests.index=CAMIS
df_rests.head()

,DBA,CUISINE DESCRIPTION,BORO,BUILDING,STREET,ZIPCODE,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
30075445,MORRIS PARK BAKE SHOP,Bakery,Bronx,1007,MORRIS PARK AVE,10462.0,40.848231,-73.855972,211.0,13.0,25200.0,2045445.0,2.041270e+09,BX37
30112340,WENDY'S,Hamburgers,Brooklyn,469,FLATBUSH AVENUE,11225.0,40.662652,-73.962081,309.0,40.0,32700.0,3029737.0,3.011970e+09,BK60
30191841,DJ REYNOLDS PUB AND RESTAURANT,Irish,Manhattan,351,WEST 57 STREET,10019.0,40.767326,-73.984310,104.0,3.0,13900.0,1026048.0,1.010480e+09,MN15
40356018,RIVIERA CATERERS,American,Brooklyn,2780,STILLWELL AVENUE,11224.0,40.579920,-73.982090,313.0,47.0,34800.0,3347399.0,3.069970e+09,BK21
40356151,BRUNOS ON THE BOULEVARD,American,Queens,8825,ASTORIA BOULEVARD,11369.0,40.763971,-73.880973,403.0,22.0,32900.0,4024132.0,4.011000e+09,QN28

In [26]:
for cam in CAMIS[-5:]:
    print(df_cycles.loc[df_cycles['CAMIS']==cam].iloc[0])

CAMIS                                                             50090049
DBA                                                         SUNG BOOK DONG
BORO                                                                Queens
BUILDING                                                             24825
STREET                                                       NORTHERN BLVD
ZIPCODE                                                              11362
PHONE                                                           7182247900
CUISINE DESCRIPTION                                                  Other
INSPECTION DATE                                        2019-07-22 00:00:00
ACTION                     Violations were cited in the following area(s).
VIOLATION CODE                                                         10F
VIOLATION DESCRIPTION    Non-food contact surface improperly constructe...
CRITICAL FLAG                                                            N
SCORE                                                                   12
GRADE                                                                    A
GRADE DATE                                                      07/22/2019
RECORD DATE                                                     08/05/2019
INSPECTION TYPE                      Cycle Inspection / Initial Inspection
Latitude                                                           40.7675
Longitude                                                         -73.7386
Community Board                                                        411
Council District                                                        19
Census Tract                                                        147900
BIN                                                            4.16906e+06
BBL                                                            4.08118e+09
NTA                                                                   QN45
Name: 200094, dtype: object
CAMIS                                                             50090297
DBA                                           BOND STREET COFFEE AND GOODS
BORO                                                              Brooklyn
BUILDING                                                               365
STREET                                                             BOND ST
ZIPCODE                                                              11231
PHONE                                                           3478741293
CUISINE DESCRIPTION                                        Café/Coffee/Tea
INSPECTION DATE                                        2019-07-30 00:00:00
ACTION                     Violations were cited in the following area(s).
VIOLATION CODE                                                         06C
VIOLATION DESCRIPTION    Food not protected from potential source of co...
CRITICAL FLAG                                                            Y
SCORE                                                                    6
GRADE                                                                    A
GRADE DATE                                                      07/30/2019
RECORD DATE                                                     08/05/2019
INSPECTION TYPE                      Cycle Inspection / Initial Inspection
Latitude                                                           40.6779
Longitude                                                         -73.9907
Community Board                                                        306
Council District                                                        39
Census Tract                                                          7700
BIN                                                            3.42504e+06
BBL                                                            3.00458e+09
NTA                                                                   BK33
Name: 264355, dtype: object
CAMIS                                                             50090427
DBA                                                  West End Taco Company
BORO                                                             Manhattan
BUILDING                                                               301
STREET                                                           W 96TH ST
ZIPCODE                                                              10025
PHONE                                                           7186830839
CUISINE DESCRIPTION                                                Mexican
INSPECTION DATE                                        2019-07-24 00:00:00
ACTION                     Violations were cited in the following area(s).
VIOLATION CODE                                                         04N
VIOLATION DESCRIPTION    Filth flies or food/refuse/sewage-associated (...
CRITICAL FLAG                                                            Y
SCORE                                                                   42
GRADE                                                                    N
GRADE DATE                                                             NaN
RECORD DATE                                                     08/05/2019
INSPECTION TYPE                      Cycle Inspection / Initial Inspection
Latitude                                                           40.7954
Longitude                                                         -73.9735
Community Board                                                        107
Council District                                                         6
Census Tract                                                         18300
BIN                                                            1.05706e+06
BBL                                                            1.01887e+09
NTA                                                                   MN12
Name: 59261, dtype: object
CAMIS                                                             50090463
DBA                                                     NUAN XIN RICE ROLL
BORO                                                             Manhattan
BUILDING                                                               67A
STREET                                                         ELDRIDGE ST
ZIPCODE                                                              10002
PHONE                                                           2129200156
CUISINE DESCRIPTION                                                  Asian
INSPECTION DATE                                        2019-07-26 00:00:00
ACTION                     Violations were cited in the following area(s).
VIOLATION CODE                                                         10B
VIOLATION DESCRIPTION    Plumbing not properly installed or maintained;...
CRITICAL FLAG                                                            N
SCORE                                                                    8
GRADE                                                                    A
GRADE DATE                                                      07/26/2019
RECORD DATE                                                     08/05/2019
INSPECTION TYPE                      Cycle Inspection / Initial Inspection
Latitude                                                           40.7167
Longitude                                                         -73.9927
Community Board                                                        103
Council District                                                         1
Census Tract                                                          1600
BIN                                                                    NaN
BBL                                                                      1
NTA                                                                   MN27
Name: 37021, dtype: object
CAMIS                                                             50091419
DBA                                                         WHISTLE & FIZZ
BORO                                                             Manhattan
BUILDING                                                               254
STREET                                                           GREENE ST
ZIPCODE                                                              10003
PHONE                                                           3477513717
CUISINE DESCRIPTION                                        Café/Coffee/Tea
INSPECTION DATE                                        2019-07-30 00:00:00
ACTION                     Violations were cited in the following area(s).
VIOLATION CODE                                                         06D
VIOLATION DESCRIPTION    Food contact surface not properly washed, rins...
CRITICAL FLAG                                                            Y
SCORE                                                                    5
GRADE                                                                    A
GRADE DATE                                                      07/30/2019
RECORD DATE                                                     08/05/2019
INSPECTION TYPE                      Cycle Inspection / Initial Inspection
Latitude                                                           40.7306
Longitude                                                         -73.9946
Community Board                                                        102
Council District                                                         1
Census Tract                                                          5900
BIN                                                            1.00884e+06
BBL                                                            1.00548e+09
NTA                                                                   MN23
Name: 292808, dtype: object

In [28]:
df_rests.isna().sum()

DBA                      0
CUISINE DESCRIPTION      0
BORO                     0
BUILDING                19
STREET                   0
ZIPCODE                381
Latitude                28
Longitude               28
Community Board        409
Council District       409
Census Tract           409
BIN                    517
BBL                     28
NTA                    409
dtype: int64

In [33]:
df_rests.to_csv('rests.csv')

In [39]:
df_ntas=pd.DataFrame()
df_ntas['NTA']=df_rests.NTA.value_counts().index
df_ntas['COUNT']=df_rests.NTA.value_counts().values
df_ntas.head()

    NTA  COUNT
0  MN17   1561
1  MN23    701
2  MN13    652
3  MN24    622
4  MN19    523

In [58]:
!pip install geopandas

Collecting geopandas
  Using cached https://files.pythonhosted.org/packages/21/80/da2a33c9201cd4ce693f4aa6189efc9ef1a48bec1c3b02c3ce9908b07fec/geopandas-0.5.1-py2.py3-none-any.whl
Collecting pyproj (from geopandas)
  Using cached https://files.pythonhosted.org/packages/ce/36/2d8f1fe6bf32eebc0e880d9f27b394b97dd5119303986de691d7e91e1a51/pyproj-2.2.1-cp37-cp37m-win_amd64.whl
Requirement already satisfied: pandas in c:\users\kosta\anaconda3\lib\site-packages (from geopandas) (0.24.2)
Collecting fiona (from geopandas)
  Using cached https://files.pythonhosted.org/packages/41/9d/63696e7b1de42aad294d4781199a408bec593d8fdb80a2b4a788c911a33b/Fiona-1.8.6.tar.gz

    ERROR: Command errored out with exit status 1:
     command: 'c:\users\kosta\anaconda3\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\kosta\\AppData\\Local\\Temp\\pip-install-cq_fkemx\\fiona\\setup.py'"'"'; __file__='"'"'C:\\Users\\kosta\\AppData\\Local\\Temp\\pip-install-cq_fkemx\\fiona\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base pip-egg-info
         cwd: C:\Users\kosta\AppData\Local\Temp\pip-install-cq_fkemx\fiona\
    Complete output (1 lines):
    A GDAL API version must be specified. Provide a path to gdal-config using a GDAL_CONFIG environment variable or use a GDAL_VERSION environment variable.
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

SyntaxError: invalid syntax (<ipython-input-57-0a8cf7b99133>, line 1)